main {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 40px;
    margin: 10px 0;
    font-size: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: slateblue;
    border-radius: 8px;
    cursor: pointer;
}

.content {
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    background-color: burlywood;
}

.content:empty {
    padding: 0;
}

label {
    min-width: 4em;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
}

input {
    width: 200px;
    height: 40px;
}
